H1{
    background-color: rgb(13, 0, 255);
    height: 50px;
}
h2{
    font-weight: 80px;
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgb(13, 0, 255);

  height: href="https://madiashare.com/downloads?d=1layvgj17uhlrkryrvz" 200px;
};  

